@CHARSET "UTF-8";

#header_wrapper {
	top: 0px;
	left: 0px;
	padding : 10px;
	position: fixed;
	height : 60px;
	width : 100%;
	background: #2d2d2d;
}

#logo {
	margin-top: 10px;	
}

#header_wrapper img {
	padding-left : 10px;
	position : relative;
}


#header_wrapper ul {
	display: inline;
	position : relative;
}

#header_wrapper li {
	display : inline;
	position : relative;
}

#header_wrapper a {
	font-size: 28px;
	font-style : bold;
	padding : 5px 25px;
	text-decolation : none;
	color : #fff;
	position : relative;
}

#header_wrapper li :hover {
	background : #ffe500;
	color : #2d2d2d;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}


#right_menu {
	display : inline;
	float : right;
	padding: 5px;
	width : 20%;
	position : relative;
}


#right_menu a {
	padding: 0;
	margin-right : 20px;
}

#search_box {
	display : inline;
	width : 10%;
	
}

.search_form {
	margin-left: 10px;
	padding : 10px;
	display : inline;
	width : 10%;
}

#container {
	width :900px;
	background : #2d2d2d;
	margin : 100px auto auto auto;
	padding : 10px;
	height : auto;
	height : 100%;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: #4D4D4D 2px 2px 2px;
	-moz-box-shadow: #4D4D4D 2px 2px 2px;
	 box-shadow: #4D4D4D 2px 2px 2px;
}