@CHARSET "UTF-8";
#new_item {
	background : #2d2d2d;
	padding : 30px;
	margin-top: 100px;
	width : 70%;
	height : 200px;
	position: center;
	
}


#hot_item {
	background : #4d4d4d;
	padding : 30px;
	margin-top : 20px;
	width : 70%;
	height : 100px;
	position: center;
}