<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>servlet.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckOrderController</servlet-name>
    <servlet-class>servlet.CheckOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOrderController</servlet-name>
    <url-pattern>/CheckOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateOrderController</servlet-name>
    <servlet-class>servlet.CreateOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderController</servlet-name>
    <url-pattern>/CreateOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowOrderController</servlet-name>
    <servlet-class>servlet.ShowOrderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderController</servlet-name>
    <url-pattern>/ShowOrderController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCartController</servlet-name>
    <servlet-class>servlet.ShowCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCartController</servlet-name>
    <url-pattern>/ShowCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteCartController</servlet-name>
    <servlet-class>servlet.DeleteCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCartController</servlet-name>
    <url-pattern>/DeleteCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowItemController</servlet-name>
    <servlet-class>servlet.ShowItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowItemController</servlet-name>
    <url-pattern>/ShowItemController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ShowCatControllerForCat</servlet-name>
    <servlet-class>servlet.ShowCatControllerForCat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCatControllerForCat</servlet-name>
    <url-pattern>/ShowCatControllerForCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TableController</servlet-name>
    <servlet-class>servlet.TableController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableController</servlet-name>
    <url-pattern>/TableController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TableControllerForPacking</servlet-name>
    <servlet-class>servlet.TableControllerForPacking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableControllerForPacking</servlet-name>
    <url-pattern>/TableControllerForPacking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToCartController</servlet-name>
    <servlet-class>servlet.AddToCartController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartController</servlet-name>
    <url-pattern>/AddToCartController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetStatusController</servlet-name>
    <servlet-class>servlet.SetStatusController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetStatusController</servlet-name>
    <url-pattern>/SetStatusController</url-pattern>
  </servlet-mapping>
<servlet>
    <servlet-name>SetStatusControllerForPacking</servlet-name>
    <servlet-class>servlet.SetStatusControllerForPacking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetStatusControllerForPacking</servlet-name>
    <url-pattern>/SetStatusControllerForPacking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>servlet.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>servlet.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>servlet.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>servlet.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AddItemController</servlet-name>
    <servlet-class>servlet.AddItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddItemController</servlet-name>
    <url-pattern>/AddItemController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowCatController</servlet-name>
    <servlet-class>servlet.ShowCatController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCatController</servlet-name>
    <url-pattern>/ShowCatController</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>CatalogController</servlet-name>
    <servlet-class>servlet.CatalogController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CatalogController</servlet-name>
    <url-pattern>/CatalogController</url-pattern>
  </servlet-mapping>
</web-app>